.btn {
    color: blue;
    font-weight: 700;
    font-size: 24px;
    background-color: rgb(246, 255, 0);
    padding: 10px 20px;
    margin: 40px;
}
.btn:hover {
    background-color:  rgb(255, 136, 0);
    box-shadow:5px 5px 10px #222222;
}
.btn:focus {
    background-color:  rgb(255, 111, 0);
    box-shadow: 5px 5px 10px #222222;
}
.text {
    font-size: 24px;
    font-weight: 700;
    padding: 10px 20px; 
    text-shadow:8px 3px 5px rgb(109, 2, 180);
    font-style: italic;
    text-transform: uppercase;
}
